<div class="sad-admin-home">
    <div *ngIf="showAdminDashboard; else welcome">
        <h4>Hello Admin!</h4>
        <div *ngFor="let account of accounts">
            <dl>
                <dt>Account</dt>
                <dd>
                    <a [routerLink]="['/accounts', accountPublicKey(account)]">{{account.alias}}</a>
                </dd>
                <dt>Network</dt>
                <dd>{{account.networkConfig.passphrase}}</dd>
            </dl>
            <app-friendbot *ngIf="networkAllowsFriendbot" [publicKey]="accountPublicKey(account)"></app-friendbot>
        </div>
    </div>
    <ng-template #welcome>
        Hi!. This will eventually explain stuff...
    </ng-template>
</div>

<!-- Request state.. move this out -->
<!-- <div class="request-state" [ngSwitch]="requestState">
    <div *ngSwitchCase="'waiting'">Requesting funds...</div>
    <div *ngSwitchCase="'error'">Something went wrong..</div>
</div> -->