<!-- Request Friendbot funds button.. move this out -->
<button *ngIf="allowFriendbot" class="friendbot-request" (click)="fundAdminAccount()">Fund Admin Account</button>

<!-- Request state.. move this out -->
<div class="request-state" [ngSwitch]="requestState">
    <div *ngSwitchCase="'waiting'">Requesting funds...</div>
    <div *ngSwitchCase="'error'">Something went wrong..</div>
</div>

<a (click)="downloadAccountMasterFile()">Download Account Master File</a>

<a (click)="readAccountMasterFile()">Read Account Master File</a>