<div>Hi!</div>

<div [ngSwitch]="adminFundState">
    <div *ngSwitchCase="'funded'">
        <app-account-glimpse [publicKey]="adminAccount.publicKey"></app-account-glimpse>
    </div>
    <div *ngSwitchCase="'unfunded'">
        <!-- Request Friendbot funds button.. move this out -->
        <button *ngIf="allowFriendbot" class="friendbot-request" (click)="fundAdminAccount()">Fund Admin Account</button>
    </div>
</div>

<!-- Request state.. move this out -->
<div class="request-state" [ngSwitch]="requestState">
    <div *ngSwitchCase="'waiting'">Requesting funds...</div>
    <div *ngSwitchCase="'error'">Something went wrong..</div>
</div>